@CHARSET "UTF-8";
div#wrapper{
	width:900px;
	margin:0 auto;   
}
div#container{
    width: 900px;
    /*height: 500px;*/
    margin: left; 
    position: relative; 
}
div#passwordPrompt{
	/*width: 600px;
	height: 500px;*/
}
div#framerate{
	position: absolute; 
	left: 750px; 
	top: 20px; 
	height: 30px; 
	width: 130px; 
}
.elementContain{
	background-color: #000; 
	opacity: 0.5; 
	border-radius: 5px; 
	color: white; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border: 1px solid #fff;
}
.userStyle{
	margin: 0;
	padding: 0;
	padding-bottom: 5px;
}
h2{
	font-size: 20px
}

div#username{
	padding: 5px;
	position:absolute;
	left: 20px;
	top: 370px;
	height: 75px;
	width: 300px;
}
div#login{
	position:absolute;
	left: 775px; 
	top: 425px;
}
#log{
	height: 50px;,
	overflow: scroll;
}
/*menu*/
#outer {width:748px; height:300px; background:url(clock.jpg) no-repeat right bottom; border:1px solid #ddd; border-width:5px 1px 1px; position:relative;}

#menu {list-style-type:none; width:644px; padding:0; margin:0 auto;}
#menu ul {list-style-type:none; padding:0; margin:0;}
#menu li {float:left; background:#088; margin:1px 1px 0 0;position:relative;}
#menu li.sub {background:#f80;}
#menu li, #menu li a {display:block; color:#fff; font-family:arial, sans-serif; font-size:15px; line-height:24px; width:160px; text-decoration:none; text-align:center; cursor:pointer; font-weight:bold;}
#menu li:hover, #menu li a:hover {background:#c00;}
#menu ul {position:absolute;left:-9999px;width:128px;}
#menu li.click {background:#c00;}
#menu li.click ul{left:0; top:24px; background:url(transparent.gif);} /* the background image is for IE7 */